name: Swift Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-15

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Xcode
      uses: maxim-lobanov/setup-xcode@592f3a0ea6269bc3452fd67ae771c3174f6d01cf
      with:
        xcode-version: '16.2'
    - name: Select Xcode
      run: sudo xcode-select --switch /Applications/Xcode_16.2.app
    - name: Verify Swift Version
      run: swift --version
    - name: Verify Xcode version
      run: xcodebuild -version
    - name: Verify Active Swift Toolchain version
      run: xcrun swift -version
    - name: Show available SDKs (debug)
      run: |
        xcodebuild -showsdks
        xcrun simctl list runtimes
        xcrun simctl list devicetypes | sed -n '1,80p'
    - name: Run tests
      run: |
        xcrun xcodebuild test \
          -sdk iphonesimulator \
          -scheme MapTilerSDK \
          -destination 'platform=iOS Simulator,OS=18.2,name=iPhone 16' \
          -retry-tests-on-failure -test-iterations 3
